html {
    margin: 10px 0 0 0;
    font-family: monospace;
    font-size: 16px;
}
body {margin: 0}
input {
    padding: 1px;
}

.template {
    display: none;
}

div#tabs {
    font-size: 0;
}
div#tabs>div {
    display: inline-block;
    cursor: default;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size: 1rem;
}
div.tab {
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid black;
    background: #eee;
}
div.tab.active {
    border-bottom: 1px solid transparent;
    background: #fff;
}
div.tab_filler {
    border-bottom: 1px solid black;
    width: 0.5rem;
}
div.tab_filler:first-child {
    width: 0.5rem;
}
div.tab_filler:last-child {
    width: 100px;
}

button {
    font-size: 1rem;
    padding: 0.3rem;
}

div#content {
    margin: 0.5rem;
}

@media all and (max-device-width: 500px) {
    html {
        margin: 50px 0 0 0;
        font-size: 48px;
    }
}