<!DOCTYPE html>
<html>
    <head>
        <title>Home Media Center</title>
        <meta name=”viewport” content=”width=device-width, initial-scale=1″>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <div id="tabs">
            <div class="tab_filler">&nbsp;</div>
            <div class="tab" data-target="downloads">Загрузки</div>
            <div class="tab_filler">&nbsp;</div>
            <div class="tab" data-target="youtube">YouTube</div>
            <div class="tab_filler">&nbsp;</div>
        </div>

        <div id="content">
            <div id="downloads" style="display: none">
            </div>
            <div id="youtube" style="display: none">
            </div>
        </div>

        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/App.js"></script>

        <div class="template downloads_entry">
            <span class="file">{{name}}</span>
            <button class="play">&#x25B6;</button>
            <button class="pause playback_control" >&#x23F8;</button>
            <button class="stop playback_control" >&#x23F9;</button>
        </div>
    </body>
</html>